@import url('base.css');

/* Make the thubms tile on the left */
.pika-thumbs li{width: 90px; height:55px;}
.pikachoose {width: 820px; margin: 0 auto;position:relative;}
.pika-stage {position: absolute;left:250px;}

.pika-thumbs {margin: 10px 0 0 17px; width:250px;}
	.pika-thumbs li {margin: 5px 5px;}