body {font-family: helvetica, arial, sans-serif;}
a{color:white;}

.pika-wrap {width: 520px; margin: 0 auto;}

.pika-image {position: relative; height: 340px; width: 500px;}
	/*position image holders */
	.pika-image .animation, .pika-image .main-image {position: absolute; top: 0px; left: 0px;}
	.pika-image .animation {display: none;z-index:2;}
	.pika-image img {border:0;}

.pika-image .caption {position: absolute; background: url(../../assets/images/75-black.png);  border: 1px solid #141414; font-size: 11px; color: #fafafa; padding: 10px; text-align: right; bottom: 50px; right: 10px;}
	.pika-image .caption p {padding: 0; margin: 0; line-height: 14px;}
.pika-textnav {display:none;}
ul{display:none;}